.chat-main
  .chat-main__head
    .chat-main__head__left-box
      .chat-main__head__left-box__group-name
        %p Title
      .chat-main__head__left-box__name-list
        member：
        %p ken
    %a{:href => "#"}
      .chat-main__head__edit-btn 
        Edit

  .chat-main__middle
    .chat-main__middle__message
      .chat-main__middle__message__info
        .chat-main__middle__message__info__talker
          ken
        .chat-main__middle__message__info__date
          2019/12/30(Mon) 12:00:00
      .chat-main__middle__message__text
        hi!

  .chat-main__bottom
    .chat-main__bottom__content
      .chat-main__bottom__content__input
        .chat-main__bottom__content__input__type
          type a message
        %label{class: "chat-main__bottom__content__input__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "chat-main__bottom__content__input__image__file"}
      .chat-main__bottom__content__submit
        Send