.side-bar
  .side-bar__top
    .side-bar__top__box
      .side-bar__top__box__name
        ken
      %ul.side-bar__top__box__icons
        %li.side-bar__top__box__icons__edit
          =link_to "#" do
            = icon('fa', 'edit')
        %li.side-bar__top__box__icons__new-group
          =link_to "#" do
            = icon('fa', 'cog')
  .side-bar__bottom
    .side-bar__bottom__group
      .side-bar__bottom__group__name
        group
      .side-bar__bottom__group__latest-message
        message
